<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>头条</key>
	<dict>
		<key>title</key>
		<string>头条</string>
		<key>url</key>
		<string>http://admin.tingwen.me/index.php/api/interface/touList</string>
		<key>parameter</key>
		<string></string>
	</dict>
	<key>时政</key>
	<dict>
		<key>title</key>
		<string>时政</string>
		<key>url</key>
		<string>http://admin.tingwen.me/index.php/api/interface/postList</string>
		<key>parameter</key>
		<string>term_id=14</string>
	</dict>
	<key>社会</key>
	<dict>
		<key>title</key>
		<string>社会</string>
		<key>url</key>
		<string>http://admin.tingwen.me/index.php/api/interface/postList</string>
		<key>parameter</key>
		<string>term_id=10</string>
	</dict>
	<key>奇闻</key>
	<dict>
		<key>title</key>
		<string>奇闻</string>
		<key>url</key>
		<string>http://admin.tingwen.me/index.php/api/interface/postList</string>
		<key>parameter</key>
		<string>term_id=3</string>
	</dict>
	<key>段子</key>
	<dict>
		<key>title</key>
		<string>段子</string>
		<key>url</key>
		<string>http://admin.tingwen.me/index.php/api/interface/postList</string>
		<key>parameter</key>
		<string>term_id=15</string>
	</dict>
	<key>娱乐</key>
	<dict>
		<key>title</key>
		<string>娱乐</string>
		<key>url</key>
		<string>http://admin.tingwen.me/index.php/api/interface/postList</string>
		<key>parameter</key>
		<string>term_id=4</string>
	</dict>
	<key>体育</key>
	<dict>
		<key>title</key>
		<string>体育</string>
		<key>url</key>
		<string>http://admin.tingwen.me/index.php/api/interface/postList</string>
		<key>parameter</key>
		<string>term_id=5</string>
	</dict>
	<key>财经</key>
	<dict>
		<key>title</key>
		<string>财经</string>
		<key>url</key>
		<string>http://admin.tingwen.me/index.php/api/interface/postList</string>
		<key>parameter</key>
		<string>term_id=6</string>
	</dict>
	<key>科技</key>
	<dict>
		<key>title</key>
		<string>科技</string>
		<key>url</key>
		<string>http://admin.tingwen.me/index.php/api/interface/postList</string>
		<key>parameter</key>
		<string>term_id=7</string>
	</dict>
	<key>军事</key>
	<dict>
		<key>title</key>
		<string>军事</string>
		<key>url</key>
		<string>http://admin.tingwen.me/index.php/api/interface/postList</string>
		<key>parameter</key>
		<string>term_id=8</string>
	</dict>
	<key>房产</key>
	<dict>
		<key>title</key>
		<string>房产</string>
		<key>url</key>
		<string>http://admin.tingwen.me/index.php/api/interface/postList</string>
		<key>parameter</key>
		<string>term_id=9</string>
	</dict>
</dict>
</plist>
